// Colors
$color-black: #000;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, .15);
$color-gray-1: #f1f3f5;
$color-gray-5: #adb5bd;
$color-violet-3: #b197fc;
$color-violet-9: #5f3dc4;

// Typography
$font-family: 'Open Sans', sans-serif;
$font-family-accent: 'Ubuntu', sans-serif;
$paragraph-spacing: 2.8rem;
$font-size-body: 1.75rem;
$line-height-body: 1.6;

// Breakpoints
$screen-mobile-portrait: 375px;
$screen-mobile-landscape: 568px;
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 1024px;
$screen-desktop: 1150px;
$screen-desktop-medium: 1366px;
$screen-desktop-large: 1681px;

// Dimensions
$page-width: 90rem;
$header-height: 9rem;
$footer-height: 13rem;

// spacing
$spacing-small: 2rem;
$spacing-medium: 3rem;
$spacing-large: 5rem;
$spacing-xlarge: 10rem;

// Perspective
$border-radius: 1rem;
$box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
$border-radius-nav: 2rem;
