// @import 'variables.scss';

.button {
  border: .2rem solid $color-black;
  border-radius: 2rem;
  color: $color-black;
  background-color: transparent;
  font-family: $font-family;
  font-size: $font-size-body;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  width: fit-content;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    // background: $gradient-dark;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.9;
  }

  &:active {
    transform: translateY(0.1rem);
  }
}
