.hero {
  @include mobile-flex;
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-large;

  @media screen and (min-width: $screen-tablet-portrait) {
    padding-top: calc($spacing-xlarge * 2);
    padding-bottom: calc($spacing-xlarge * 2);
  }
  
  &__image {
    max-width: 25rem;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  
  &__content {
    justify-content: center;
  
    h1, h2 {
      font-family: $font-family-accent;
      margin-bottom: $spacing-small;
    }
    
    h1 {
      line-height: 1;
      color: $color-accent;
      font-size: 6rem;
    }
  
    h2 {
      font-size: 3rem;
      line-height: 1.2;
    }
  }
}
