// layout component
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    height: $header-height;
  }

  nav {
    padding: $spacing-medium 0;
  
    ul {
      display: flex;
      justify-content: right;
      align-items: center;
    
      li {
        margin-left: $spacing-large;
        &:first-child {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }

  footer {
    margin-top: auto;
    padding: $spacing-small;
    background-color: $color-primary;
    height: $footer-height;
  }
  
  .header__links {
    a {
      box-shadow: none;
      color: $color-primary;
    }
  }

  .footer__links {
    a {
      box-shadow: none;
      color: $color-background;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  
}

.container {
  display: block;
  margin: 0 auto;
  max-width: $page-width;
}
