// layout component
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    height: $header-height;

    nav {
      padding: $spacing-medium 1rem;
    }

    a {
      box-shadow: none;
      color: $color-primary;
      padding: .5rem 2rem;
      border-radius: $border-radius-nav;
      transition: all .2s ease;
      &:hover {
        background-color: $color-accent-light;
      }
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: right;
      align-items: center;
    
      li {
        margin-left: $spacing-medium;
        &:first-child {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }  
  }

  footer {
    margin-top: auto;
    background-color: $color-primary;
    color: $color-background;

    .container {
      padding: $spacing-medium 1rem;
    }
    
    nav {
      margin-bottom: $spacing-medium;
    }

    a {
      box-shadow: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: .1rem;
      color: $color-background;
      border-radius: $border-radius-nav;
      padding: .5rem 2rem;
      transition: all .2s ease;
      outline: .2rem solid transparent;
      &:hover {
        outline: .2rem solid $color-accent;
      }
    } 
    
    .copyright {
      font-size: 1.5rem;
      padding-left: $spacing-small;
      padding-bottom: $spacing-small;
    }
  }
}
