.theme-button {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
}
