.theme-button {
  border-radius: 50%;
  background: rgba(0, 0 ,0, .1);
  box-shadow: $box-shadow;
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;

  &--dark {
    background: $color-white-transparent;
  }
}
