// Google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

// Colors
$color-primary: #5c7cfa;
$color-primary-light: lighten($color-primary, 30%);
$color-secondary: #845ef7;
$color-grey-light: #fafbff;
$color-grey-dark: #333;
$gradient: linear-gradient(to right, $color-primary, $color-secondary);
$gradient-dark: linear-gradient(
  to right,
  darken($color-primary, 5%),
  darken($color-secondary, 5%)
);

// Typography
$font-family: 'Roboto', sans-serif;
$paragraph-spacing: 2.8rem;
$font-size-body: 1.6rem;
$font-size-code: 1.4rem;
$font-size-small: 1.3rem;

// Breakpoints
$screen-mobile-portrait: 375px;
$screen-mobile-landscape: 568px;
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 1024px;
$screen-desktop: 1150px;
$screen-desktop-medium: 1366px;
$screen-desktop-large: 1681px;

// Widths
// $navigation: 100rem;
$page-width: 100rem;

// spacing
$spacing-small: 2rem;
$spacing-medium: 4rem;
$spacing-large: 8rem;

// Perspective
$box-shadow-card: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
