.video {  
  box-shadow: $box-shadow;
  width: 30rem;
  height: 15rem;

  @media screen and (min-width: $screen-mobile-portrait) {
    width: 40rem;
    height: 20rem;
  }

  @media screen and (min-width: $screen-mobile-landscape) {
    width: 55rem;
    height: 28rem;
  }

  @media screen and (min-width: $screen-tablet-landscape) {
    width: 85rem;
    height: 45rem;
  }
}
